---
/// utils imports
import { slugify, formatDate } from "../js/utils";
// component imports

import Link from "./Link.astro";

const { frontmatter, url, tagType} = Astro.props;

const {title, pubDate, author, heroImage, description, category} = frontmatter

const Tag = tagType;
---


<div class="bg-white w-[350px] h-[370px] rounded-[15px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] mb-[20px] pt-[20px] pb-[40px]">
<article >
  <a class="text-black pt-[10px] pl-[31px]" href={`/category/${slugify(category)}/`}>{category}</a>
  <div class="pl-[30px] pt-[15px] pr-[30px]">
  <img class="align-center  rounded max-w-full h-auto align-middle border-none" src={heroImage}/>
  </div>
  <Tag class="h3 pl-[31px] pt-[17px] font-bold text-blue-600 "><a href={url}>{title}</a>
</Tag>
 <a class="text-[12px] text-neutral-500 pl-[31px]" href={`/auhtor/${slugify(author)}/`}>{author}</a>. <span class="text-[12px] text-neutral-600">{
    formatDate(pubDate)
 }
 </span>
  <p class="text-neutral-400 text-sm pl-[31px]">{description}</p>
  <div class="pt-[10px] pl-[31px]">
  <a class=" text-[12px]  text-white hover:text-blue w-[30px] h-[5px] bg-blue-800 p-1 rounded-[5px]" href={url}>Read more<a/>
  </div>
</article>

</div>